@model List<MyCVCore.EntityLayer.Concrete.WriterMessage>
@{
    ViewData["Title"] = "UserSendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{
    string color = "";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Giden Kutusu</h4>
            <p class="card-description">

            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Konu</th>
                            <th>Alıcı</th>
                            <th>Alıcı Adı</th>
                            <th>Tarih</th>
                            <th>Detaylar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            //swich case ile statusu renklendir.
                            <tr>
                                <th>@item.WriterMessageId</th>
                                <td>@item.Subject</td>
                                <td>@item.Receiver</td>
                                <td>@item.ReceiverName</td>
                                <td>@(((DateTime)item.Date).ToString("dd.MM.yyyy"))</td>
                                <td><a href="/Writer/Message/MessageDetails/@item.WriterMessageId" class="btn btn-outline-primary">Mesaj Detay</a> </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


